@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<style>
    * {
        box-sizing: border-box;
    }

    #passWordBody {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        height: 100vh;
        display: flex;
    }

    .signUpForm-container {
        width: 350px;
        min-height: 420px;
        overflow: hidden;
        border-radius: 30px;
        box-shadow: -20px 20px 30px rgba(107, 77, 230);
        position: relative;
        text-align: center;
        background-size: cover;
        background: linear-gradient(to right, #6B4DE6, #C96F8F);
    }

    h1 {
        color: #eee;
        font-weight: bold;
        margin: 0;
        margin-top: 50px;
    }

    .signUpForm-container form {
        background: linear-gradient(to right, #6B4DE6, #C96F8F);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        width: 100%;
    }

    .signUpForm-container input {
        background: #eee;
        border: none;
        padding: 12px 15px;
        margin: 10px 0;
        width: 90%;
        border-radius: 20px;
        justify-content: center;
        display: flex;
        outline: none;
    }

    button {
        border-radius: 20px;
        border: 1px solid #FFFFFF;
        background: linear-gradient(to right, #6B4DE6, #C96F8F);
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        /*when I click it I want it to  kind of expand or scale a bit.*/
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 100px;
    }

        button:active {
            transform: scale(0.95);
        }

        button:focus {
            outline: none;
            /*tıkladıgımda çıkan border ı yok eder. */
        }

        button.ghost {
            background-color: transparent;
            border-color: #FFFFFF;
        }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/forgotPassword.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/styles/style.css">
    <title>Forgot Password</title>
</head>

<body id="passWordBody">
    <div class="signUpForm-container">
        <h1>Find Password</h1>
        <form action="#">
            <input type="email" placeholder="Email" class="input-rounded" id="email" required />
            <input type="password" placeholder="Phone" class="input-rounded" id="phone" required />
            <input type="text" placeholder="Identity Number" class="input-rounded" id="identityNumber" required />
            <button type="submit" class="button-reset" onclick="ResetPW()">Reset</button>
        </form>
    </div>
</body>

</html>
<script>
    function ResetPW() {
        var EMail = $('#email').val();
        var Phone = $('#phone').val();
        var IdentityNumber = $('#identityNumber').val();
        $.ajax({
            type: "POST",
            url: 'PWReset',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ EMail: EMail, Phone: Phone, IdentityNumber: IdentityNumber }),
            success: function (data) {
                alert("Your new password is " + data + " Please save it.");
            }
        });
    }
</script>